export("as_hex", "as_json", "convert_to", "enableMosaic",
       "flatten_polygons", "index_geometry", "mosaic_explode",
       "mosaicfill", "point_index_geom", "point_index_lonlat",
       "polyfill", "st_area", "st_asbinary", "st_asgeojson",
       "st_astext", "st_aswkb", "st_aswkt", "st_centroid2D",
       "st_centroid3D", "st_contains", "st_convexhull", "st_distance",
       "st_dump", "st_geometrytype", "st_geomfromgeojson",
       "st_geomfromwkb", "st_geomfromwkt", "st_intersection",
       "st_intersection_aggregate", "st_intersects",
       "st_intersects_aggregate", "st_isvalid", "st_length",
       "st_makeline", "st_makepolygon", "st_numpoints", "st_perimeter",
       "st_point", "st_rotate", "st_scale", "st_setsrid", "st_srid",
       "st_transform", "st_translate", "st_xmax", "st_xmin", "st_ymax",
       "st_ymin", "st_zmax", "st_zmin", "try_sql")
exportMethods(
    "as_hex",
    "as_json",
    "convert_to",
    "flatten_polygons",
    "index_geometry",
    "mosaic_explode",
    "mosaicfill",
    "point_index_geom",
    "point_index_lonlat",
    "polyfill",
    "st_area",
    "st_asbinary",
    "st_asgeojson",
    "st_astext",
    "st_aswkb",
    "st_aswkt",
    "st_centroid2D",
    "st_centroid3D",
    "st_contains",
    "st_convexhull",
    "st_distance",
    "st_dump",
    "st_geometrytype",
    "st_geomfromgeojson",
    "st_geomfromwkb",
    "st_geomfromwkt",
    "st_intersection_aggregate",
    "st_intersection",
    "st_intersects_aggregate",
    "st_intersects",
    "st_isvalid",
    "st_length",
    "st_makeline",
    "st_makepolygon",
    "st_numpoints",
    "st_perimeter",
    "st_point",
    "st_rotate",
    "st_scale",
    "st_setsrid",
    "st_srid",
    "st_transform",
    "st_translate",
    "st_xmax",
    "st_xmin",
    "st_ymax",
    "st_ymin",
    "st_zmax",
    "st_zmin",
    "try_sql" 
)
