name: build everything
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'
jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      matrix:
        python: [ 3.8.10 ]
        spark: [ 3.2.1 ]
        R: [ 4.1.2 ]
    steps:
      - name: checkout code
        uses: actions/checkout@v2
      - name: build scala
        uses: ./.github/actions/scala_build
      - name: build python
        uses: ./.github/actions/python_build
      - name: build r
        uses: ./.github/actions/r_build
      - name: upload artefacts
        uses: ./.github/actions/upload_artifacts_build