name: publish python package to test-pypi
on:
  release:
    types: [published]

jobs:
  build-n-publish:
    name: Build project and publish to TestPyPI
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python: [ 3.9.5 ]
        numpy: [ 1.21.5 ]
        gdal: [ 3.4.3 ]
        spark: [ 3.3.2 ]
        R: [ 4.1.2 ]
    steps:
      - name: checkout code
        uses: actions/checkout@v2
      - name: build scala
        uses: ./.github/actions/scala_build
      - name: build python
        uses: ./.github/actions/python_build
      - name: Publish a Python distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.LABS_PYPI_TOKEN }}
          packages_dir: python/dist/

